/* Resetar CSS do meu projeto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: darkblue;
    --cor-texto: #333;
    --cor-branca: white;
    --largura-main: 840px;
}

nav {
    background-color: var(--cor-principal);
    padding: 10px;
}

nav a {
    color: var(--cor-branca);
    display: block;
    padding: 20px;
}

main {
    max-width: var(--largura-main);

}

h1 {
    color: var(--cor-principal)
}

aside {
    width: 20rem;
    color: var(--cor-texto) text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
    margin-top: 30px;
}

aside h2 {
    position: absolute;

}

main img {
    width: 150px;
    height: auto;
    border: 2px solid var(--cor-principal);
    padding: 5px;
    box-shadow: 2px 2px 5px #888;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Seletores de Classe*/

.caixa {
    border: 1px solid rgba(0 0 0 /0.2);
    padding: 1rem;
    margin: 1rem;
    background-color: #eee;
}

.indentacao {
    padding-left: 2rem;
}